.bnt-black{
    padding: 5px;
    background-color: rgb(49, 49, 38);
    color: white;
    border-radius: 10px;
}
.bnt-black:hover{
   
}

.bnt-yellow{
    padding: 5px;
    background-color: rgb(221, 235, 96);
    color: white;
    border-radius: 10px;
}
.bnt-blue{
    padding: 5px;
    background-color: rgb(96, 140, 235);
    color: white;
    border-radius: 10px;
}
.bnt-grey{
    padding: 5px;
    background-color: rgb(96, 235, 138);
    color: white;
    border-radius: 10px;
}
.bnt-green{
    padding: 5px;
    background-color: rgb(96, 235, 200);
    color: white;
    border-radius: 10px;
}
.bnt{
    width: 100px; 
    height: auto;
    border: 0px;
}
.bnt:hover{
    opacity: .8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.288);
    }